:root {
    --color-background: #000;
    --color-text-main: #fff;
    --color-text-link: #fff;

    --font-main: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    color: var(--color-text-main);

    font-family: var(--font-main);

    min-height: 100vh;
}

a {
    color: var(--color-text-link);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.container {
    width: 80%;
    margin-inline: auto;

    padding-block: 2em;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    gap: 2.25em;

    min-height: 100vh;

    position: relative;
}

.wordmark {
    font-weight: bold;
    font-size: clamp(2rem, 4vw, 4rem);

    display: flex;
    justify-content: center;
    gap: .25em;

    cursor: pointer;
    user-select: none;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 2em;

    a {
        transition: .2s;
        transition-timing-function: ease;

        &:hover {
            transform: scale(115%);
            filter: drop-shadow(0 0 .5em rgba(255,255,255,.25));
        }

        div.social-icon {
            aspect-ratio: 1 / 1;
            height: 2.75em;

            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }

}

.notice {
    position: absolute;
    width: 100vw;

    top: 65%;

    text-align: center;

    animation-name: fade-in;
    animation-duration: 2.5s;

    animation-fill-mode: forwards;

    user-select: none;
}

@keyframes fade-in {
    0% {
        color: transparent;
        transform: translateY(.25em);
    }
    25% {
        color: white;
        transform: translateY(0em);
    }
    75% {
        color: white;
        //transform: translateY(0em);
    }
    100% {
        color: transparent;
        //transform: translateY(-.25em);
    }
}